<div class="grid justify-items-center">
  <div class="flex-initial space-x-4">
    <form>
      <input
        type="text"
        name="search"
        placeholder="Search..."
        class="border focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent ..."
      />
      <button
        class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-black hover:bg-blue"
      >
        Search
      </button>
    </form>
  </div>
</div>
