<pre>--------</pre>
<app-update-person
  [pName]="personName"
  (getUpdatedName)="onUpdatePersonName($event)"
></app-update-person>
<pre>
 New name: {{ newEnteredName | json }}
</pre>
<strong>{{ ngModuleDefinition }}</strong>
<p>An NgModule has {{ ngModuleProperties.length }} key properties</p>
<div *ngFor="let prop of ngModuleProperties">
  <ul>
    <li>{{ prop }}</li>
  </ul>
</div>
<p>{{ ngModuleIntroduction }}</p>
<div *ngFor="let example of ngModuleExample">
  <ul class="list">
    <li class="list-item">{{ example }}</li>
  </ul>
</div>
