<!-- <button (click)="getData()">Get weather data</button> -->
<!-- <button class="btn btn-primary" type="button" (click)="getNewWeatherData()">
  getData
</button> -->

<form [formGroup]="container">
  <input
    type="text"
    name="search"
    placeholder="search city name"
    class="form-control"
    formControlName="searchCityName"
  />
</form>
<button
  class="btn btn-primary"
  type="button"
  (click)="getAData()"
  [disabled]="isInputCity"
>
  getData
</button>
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Weather in {{ weatherTempData[0].location }}</h5>
    <p class="card-text"></p>
    <ul>
      <li>Temperature: {{ weatherTempData[0].location }}</li>
    </ul>
  </div>
</div>
<pre> {{ tempData | json }}</pre> -->
