<app-header></app-header>
<app-search-bar></app-search-bar>
<h2>Input output</h2>
<app-out-product></app-out-product>
<hr />
<h3>Shared ngModule</h3>
<app-person></app-person>
<hr />
<h3>Reactive forms</h3>
<app-login-form></app-login-form>
<h3>subscription && destroy</h3>
<app-observable-subscription></app-observable-subscription>
<hr />

<!-- <app-content></app-content>
<app-name-display></app-name-display>
<app-footer></app-footer>
<h3>Life cycle hooks</h3>
<app-cycles></app-cycles>
<h3>Input</h3>
<app-test></app-test>
<app-fetch-data></app-fetch-data>
<hr />
<h2>Fetch person data</h2>
<app-person-info></app-person-info>

<hr />
<h2>Fetch product</h2>
<app-product></app-product> -->
