<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="registration" (ngSubmit)="data()">
        <div class="form-group">
          <br />
          <label for="firstName">First Name</label>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" />
          </mat-form-field>

          <!-- <label for="firstName">First Name</label>
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              id="firstName"
              formControlName="firstName"
            />
          </mat-form-field> -->
          <mat-error class="error-required">
            <span *ngIf="registration.get('firstName')?.hasError('required')">
              First name is required.
            </span>
            <span *ngIf="registration.get('firstName')?.hasError('pattern')">
              First name is not valid please enter valid one.
            </span>
            <span *ngIf="registration.get('firstName')?.hasError('maxlength')">
              First name must be less than 25 characters.
            </span>
          </mat-error>
          <br />
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            id="lastName"
            formControlName="lastName"
          />
          <mat-error class="error-required">
            <span *ngIf="registration.get('lastName')?.hasError('required')">
              Last name is required.
            </span>
            <span *ngIf="registration.get('lastName')?.hasError('pattern')">
              Last name is not valid please enter valid one.
            </span>
            <span *ngIf="registration.get('lastName')?.hasError('maxlength')">
              Last name must be less than 25 characters.
            </span>
          </mat-error>
          <br />
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            placeholder="Phone Number"
            id="phoneNumber"
            formControlName="phoneNumber"
          />
          <mat-error class="error-required">
            <span *ngIf="registration.get('phoneNumber')?.hasError('required')">
              Phone Number is required
            </span>
            <span *ngIf="registration.get('phoneNumber')?.hasError('pattern')">
              Phone Number is not valid please enter valid one
            </span>
          </mat-error>
          <br />
          <label for="email">Email :</label>
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control"
            formControlName="email"
          />
          <label for="password">Password :</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control"
            formControlName="password"
          />
          <br />
        </div>

        <!-- <button class="btn btn-primary" type="submit" (click)="getRegData()">
          getData
        </button> -->
      </form>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!registration.valid"
        (click)="signIn()"
      >
        Sign Up
      </button>
      <div class="form-val">
        {{ registration.value | json }}
      </div>
    </div>
  </div>
</div>
<!-- <label for="gender">Gender: </label>
          <select name="select">
            <option value="empty-value"> </option>
            <option value="alpha-a">Alpha </option>
            <option value="beta-b"> Beta</option>
          </select> -->
<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<!-- this.chkConsent.change.subscribe(t => {
  if (t.checked) {
    this.submitButton.enable()
  } else {
    this.submitButton.disable()
  }
}) -->

<!-- enable() {
  this.canSubmit = true

}
disable() {
  this.canSubmit = false
} -->
<!-- #submitButton -->
