/* .traveler-consent {
  mat-checkbox.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: mat.get-color-from-palette($primary, 500);
    }
  }
} */

.user-consent
  mat-checkbox.mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-input {
  color: black;
  /* margin-right: 15px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding: 15px; */
}

.btn-primary {
  position: right;
  background-color: black;
  border-color: black;
}
.btn-primary:hover {
  background-color: #00a1ff;
}
:host {
  width: 100%;
}
